body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

h1{
    cursor: default;
}

h2{
    cursor: default;
}

h3{
    cursor: default;
}

h4{
    cursor: default;
}

h5{
    cursor: default;
}

h6{
    cursor: default;
}

p{
    cursor: default;
}

a{
    cursor: default;
}