$main-red: #DD2242;
$light-grey: #939393;
$blue-black: rgba(1, 10, 32, 1);

.header {
    background-image: url(/src/preview-bg-img.webp);
    background-position: center;
    background-size: cover;

    nav {

        .nav-sub-text {
            display: none;
        }

        .nav-section {
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .preview-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .preview-svg-text-div{
            
            svg{
                display: none;
            }
        }

        h1 {
            font-weight: 900;
            font-size: 58.15px;
            line-height: 63px;
            letter-spacing: 0%;
            text-transform: uppercase;
            text-align: left;
            color: white;
            width: 314px;
        }

        button {
            width: 314px;
            height: 56px;
            background-color: $main-red;
            border-radius: 95px;
            border-style: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: white;
        }

        .preview-cards-div {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
        }

        .preview-card {
            background-color: #0000008c;
            width: 284px;
            padding: 25px;

            .preview-card-num {
                color: $main-red;
                font-weight: 900;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 700;
                font-size: 26.41px;
                line-height: 41.08px;
                letter-spacing: 0px;
                color: white;
            }

            .preview-card-description {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: $light-grey;
                max-width: 210px;
                text-align: center;
            }
        }

        img {
            width: 334px;
            margin-bottom: 40px;
        }
    }

    @media (min-width:1200px) {

        nav {

            .nav-section {

                .nav-sub-text {
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    gap: 20px;

                    a{
                        color: white;
                        cursor: pointer;
                        transition-duration: 0.5s;

                        &:hover{
                            transform: translateY(-10px);
                            color: $light-grey;
                        }
                    }
                }

                .nav-full-text-div{
                    display: flex;
                    gap: 40px;
                }
            }
        }

        .preview-section{

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .preview-svg-text-div{
                display: flex;
                gap: 100px;
                margin-top: 100px;
                margin-left: 50px;

                svg{
                    display: block;
                }
            }

            .preview-cards-div{
                display: flex;
                flex-direction: row;
            }

            .preview-cards-div-adaptive{
                display: flex;
                align-items: center;
                align-self: flex-end;

                .preview-video{
                    position: relative;
                    top: 28px;
                    width: 417px;
                    height: 254px;
                    margin: 0;
                }
            }

            .preview-head-text{
                font-weight: 900;
                font-size: 120px;
                line-height: 130px;
                letter-spacing: 0%;
                text-transform: uppercase;

            }

            .preview-btn{
                width: 271px;
                height: 82px;
                border-radius: 211px;
            }
        }
    }
}