.main {


    .learn-section {


        .learn-div {
            background-image: url(/src/learn-bg-first-img.webp);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $blue-black;
            background-position: center;
            background-size: cover;
            padding-bottom: 40px;

            img {
                width: 414px;
                margin-top: 40px;
            }

            h2 {
                font-weight: 700;
                font-size: 40px;
                line-height: 46px;
                letter-spacing: 0%;
                color: white;
                width: 414px;
            }

            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: $light-grey;
                width: 415px;
            }

            button{
                width: 414px;
                height: 76px;
                border-radius: 32px;
                border-style: none;
                background-color: $main-red;
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                color: white;
            }
        }
    }

    .explore-section{
        background-image: url(/src/explore-bg-img.webp);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2063px;
        
        h1{
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: $blue-black;
            max-width: 314px;
        }

        .explore-scrole{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;

            .explore-img-one{
                display: none;
            }

            .explore-img-three{
                display: none;
            }
        }

        .explore-bottom-div{
            margin-top: 760px;

            .explore-bottom-card-first{
                background-color: rgba(2, 12, 33, 0.87);
                display: flex;
                flex-direction: column;
                align-items: center;

                h1{
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: middle;
                    color: white;
                    width: 214px;
                }

                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: $light-grey;
                    width: 310px;
                }
            }

            .explore-bottom-card{
                background-color: rgba(2, 12, 33, 0.87);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 500px;

                h1{
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: middle;
                    color: $main-red;
                    width: 214px;
                }

                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: $light-grey;
                    max-width: 314px;
                }
            }
        }
    }
}